<div class="center hero-unit">
  <h1>Welcome to the Todo App</h1>

  <h2>
    The best way to magage your tasks with Todo App.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
